h1{
    font-family: Arial, Helvetica, sans-serif;
    color:crimson;/*esto es un comentarioa en CSS*/
    background-color: rgb(18, 0, 121);
    text-align: center;
}
h2{
    color: crimson;
    color: rgb (239,109,0);
    text-transform: uppercase;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
    font-size: 20px;
}

.destacados{
    font-weight: bold;
}

#texto{
    width: 300px;
    height: 400px;
    background-color: crimson;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid blue;
    margin: 0 auto;
}

#texto p{
    color: blue;
}

#texto:hover{
    background-color: white;

}

    