body{
    background-color: rgb(196, 241, 241);
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: rgb(162, 238, 238);
    width: 100%;
    height: 100%;
}

#cosas p{
    width: 300px;
    height: 320px;
    background-color: rgb(162, 238, 238);
    padding: 20px;
    box-sizing: border-box;
    border: 5px inset  white;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    

}

#cosas p:hover{
    background-color: rgb(23, 207, 231);
    color: antiquewhite;
}